name: build dist

on:
  push:
  pull_request:

jobs:
  linux-build:
    name: build on linux
    runs-on: ubuntu-24.04
    steps:
    - name: checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: apt update
      run: |
        sudo apt-get update
        sudo apt-get install xvfb wget unzip libc6 \
          libcurl3-gnutls-dev  libfreetype6-dev libgcc1 libjpeg-dev \
          libpng-dev libstdc++6 libwebkit2gtk-4.1-dev libx11-6 \
          libxext6 zlib1g  make g++ mesa-common-dev libasound2-dev \
          libjack-jackd2-dev ladspa-sdk \
          doxygen graphviz cmake ninja-build
    - name: set up JDK 24
      uses: actions/setup-java@v5
      with:
        java-version: 24
        distribution: temurin
    - name: build augene-player
      run: bash build-augene-player.sh
    - name: build augene
      run: ./gradlew --warning-mode all kspCommonMainKotlinMetadata build publishToMavenLocal
    - name: upload build failure logs
      if: failure()
      uses: actions/upload-artifact@v4
      with:
        name: test-failure-logs
        path: |
          kotractive_ksp/build/reports/
          kotractive/build/reports/
          augene/build/reports/
          augene-editor/build/reports/
    - name: upload artifact
      if: success()
      uses: actions/upload-artifact@v4
      with:
        name: augene-ng-artifacts
        path: |
          kotractive_ksp/build/libs/*.jar
          kotractive/build/libs/*.jar
          augene/build/outputs/aar/*.aar
          augene-console/build/libs/*.jar
          augene-editor/build/compose/binaries/main/deb/*.msi
          augene-editor/build/compose/binaries/main/deb/*.dmg
          augene-editor/build/compose/binaries/main/deb/*.deb
          augene-player/build/AugenePlayer_artefacts/AugenePlayer
